body{
    background: #f0f0f0;
}

.nav-bar{
    height: 80px;
    background: white;
    border-bottom: 1px solid #b1b5af;
}

.logo{
    margin-left: 150px;
    margin-top: 10px;
}

.main-part{
    margin: 75px auto;
    width: 1000px;
    background: white;
    overflow: hidden;
}

.background-main-part{
    float: left;
}

#background-image-main-part{
    width: 600px;
}

.register-area{
    margin-top: 50px;
    float: left;
    /*border: 1px solid navy;*/
    width: 400px;
}

.form-control,.btn{
    width: 200px;
    display: inline;
    margin-left: 10px;
    font-weight: normal;
}

p{
    width: 280px;
    text-align: right;
    margin-top: 18px;
    margin-left: 45px;
    font-weight: bold;
}

.reference{
    font-weight: normal;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 30px;
}

.link-text{
    color: #0000d0;
}

.has_account{
    margin-left: 35px;
    color: #0000d0;
}

.warning-info{
    margin-left: 125px;
    text-align: center;
    height: 30px;
    padding: 6px;
    /*border: 1px solid;*/
    width: 200px;
}