<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mytodo.css">
    <title>MyToDo</title>
</head>
<div ng-controller="MainCtrl">

<div class="todo-groups">
    <div>
        <img src="">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Key Word">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">清单</li>
        <li class="list-group-item">清单</li>
        <li class="list-group-item">清单</li>
        <li class="list-group-item">清单</li>
        <li class="list-group-item"><span class="badge">14/30</span>清单</li>
    </ul>
    <button class="btn btn-info">新建清单</button>
</div>

<div class="todo-content">
<div><input class="form-control"></div>

<div>
    <ul class="list-group">
        <li class="list-group-item">待办</li>
        <li class="list-group-item">待办</li>
        <li class="list-group-item">待办</li>
        <li class="list-group-item">待办</li>
        <li class="list-group-item">待办</li>
    </ul>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="输入页码">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
</nav>

<div><input class="form-control"></div>
</div>


</body>
<script src="/static/javascript/jquery.min.js"></script>
<script src="/static/javascript/bootstrap.min.js"></script>
<script src="/static/javascript/angular.min.js"></script>
<script src="/static/javascript/main.js"></script>
</html>